{% extends 'master.html' %}

{% block content %}
<div class="row my-4">
    <div class="col">
        <a href="{% url 'dashboard_index'  %}" class="btn btn-outline-secondary">Back</a>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-6">
        <h4>
            Statistics per board
        </h4>
        <canvas id="canvas"></canvas>
    </div>
    <div class="col-md-6">
        <h4>
            Create new board
        </h4>

        <form action="{% url 'dashboard_boards' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.name.id_for_label }}">{{ form.name.label_tag }}:</label>
                <input type="text" name="{{ form.name.name }}" value="{{ form.name.value }}" required id="{{ form.name.id_for_label }}" max="255" class="form-control">
                {% if form.id.errors %}
                <div class="alert alert-danger mt-2">
                    <ul style="text-align: left">
                        {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.description.id_for_label }}">{{ form.description.label_tag }}:</label>
                <input type="text" name="{{ form.description.name }}" value="{{ form.description.value }}" required id="{{ form.description.id_for_label }}" max="255" class="form-control">
                {% if form.id.errors %}
                <div class="alert alert-danger mt-2">
                    <ul style="text-align: left">
                        {% for error in form.description.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            </div>

             <div class="form-group my-2">
                <button type="submit" class="btn btn-success">Create new board</button>
            </div>

        </form>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <h4>
            List of all boards
        </h4>
        <table class="table">
            <thead>
            <th>
                Board ID
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Actions
            </th>

            </thead>
            <tbody>
            {% for board in boards %}
                <tr>
                    <td>
                        {{board.id}}
                    </td>
                    <td>
                        {{board.name}}
                    </td>
                    <td>
                        {{board.description}}
                    </td>
                    <td>
                        <a href="{% url 'dashboard_boards_modify' id=board.id %}" class="text-warning font-weight-bold">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
</svg>
                        </a>
                        <a href="{% url 'dashboard_boards_delete' id=board.id %}" class="text-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg>
                        </a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
        integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
        crossorigin="anonymous"></script>
<script>
    function random_rgba() {
        var o = Math.round, r = Math.random, s = 255;
        return 'rgba(' + o(r() * s) + ',' + o(r() * s) + ',' + o(r() * s) + ',' + r().toFixed(1) + ')';
    }

    let topicsPerBoard = {{topicsPerBoard | safe}}

    let data = [];
    let labels = [];
    let colors = [];
    for (const board of topicsPerBoard) {
        data.push(board.count)
        labels.push(board.title)
        colors.push(random_rgba())
    }

    console.log(topicsPerBoard)
    var randomScalingFactor = function () {
        return Math.round(Math.random() * 100);
    };



    var config = {
        type: 'pie',
        data: {
            datasets: [{
                data,
                backgroundColor: colors,
                label: 'Boards'
            }],
            labels
        },
        options: {
            responsive: true
        }
    };

    window.onload = function () {
        var ctx = document.getElementById('canvas').getContext('2d');
        window.myLine = new Chart(ctx, config);
    };
</script>
{% endblock %}